<!DOCTYPE html>
<html>
<head>
  <title>BRICHAS AJIRA - Sign Up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Sign Up</h1>
  <% if (message) { %>
    <p style="color:red;"><%= message %></p>
  <% } %>
  <form action="/signup" method="POST">
    <label for="fullname">Fullname:</label><br>
    <input type="text" name="fullname" required><br><br>
    <label for="email">Email:</label><br>
    <input type="email" name="email" required><br><br>
    <label for="phone">Phone Number:</label><br>
    <input type="text" name="phone" required><br><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" required><br><br>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
